In [3]:
import pandas as pd

# Load CSV files
df1 = pd.read_csv('db_building_A.csv')
df2 = pd.read_csv('db_building_B.csv')

# Perform natural join on the common column, e.g., 'DATE'
result = pd.merge(df1, df2, on='DATE')

# Save or display the result
result.to_csv('joined.csv', index=False)
print(result)

                   DATE  ENERGY_x  HDD18_3_x  CDD0_x  CDD10_x  PRECTOT_x  \
0         1/1/2016 0:00       NaN      11.32    6.98      0.0      10.70
1         1/1/2016 1:00   113.415      11.32    6.98      0.0      10.70
2         1/1/2016 2:00   112.431      11.32    6.98      0.0      10.70
3         1/1/2016 3:00   111.517      11.32    6.98      0.0      10.70
4         1/1/2016 4:00   117.240      11.32    6.98      0.0      10.70
...                 ...       ...        ...     ...      ...        ...
43849  12/31/2020 19:00   106.848      14.98    3.32      0.0       3.42
43850  12/31/2020 20:00   104.764      14.98    3.32      0.0       3.42
43851  12/31/2020 21:00   104.711      14.98    3.32      0.0       3.42
43852  12/31/2020 22:00   110.124      14.98    3.32      0.0       3.42
43853  12/31/2020 23:00   103.191      14.98    3.32      0.0       3.42

       RH2M_x  T2M_x  T2M_MIN_x  T2M_MAX_x  ...  HDD18_3_y  CDD10_y  CDD0_y  \
0       90.97   6.02       1.74      12.23  ...      11.32      0.0    6.98
1       90.97   6.02       1.74      12.23  ...      11.32      0.0    6.98
2       90.97   6.02       1.74      12.23  ...      11.32      0.0    6.98
3       90.97   6.02       1.74      12.23  ...      11.32      0.0    6.98
4       90.97   6.02       1.74      12.23  ...      11.32      0.0    6.98
...       ...    ...        ...        ...  ...        ...      ...     ...
43849   94.64   2.83       1.19       5.46  ...      14.98      0.0    3.32
43850   94.64   2.83       1.19       5.46  ...      14.98      0.0    3.32
43851   94.64   2.83       1.19       5.46  ...      14.98      0.0    3.32
43852   94.64   2.83       1.19       5.46  ...      14.98      0.0    3.32
43853   94.64   2.83       1.19       5.46  ...      14.98      0.0    3.32

       PRECTOT_y  RH2M_y  T2M_MAX_y  T2M_MIN_y  ALLSKY_y  T2M_y  HOLIDAY_y
0          10.70   90.97      12.23       1.74      1.70   6.02          1
1          10.70   90.97      12.23       1.74      1.70   6.02          1
2          10.70   90.97      12.23       1.74      1.70   6.02          1
3          10.70   90.97      12.23       1.74      1.70   6.02          1
4          10.70   90.97      12.23       1.74      1.70   6.02          1
...          ...     ...        ...        ...       ...    ...        ...
43849       3.42   94.64       5.46       1.19      0.91   2.83          0
43850       3.42   94.64       5.46       1.19      0.91   2.83          0
43851       3.42   94.64       5.46       1.19      0.91   2.83          0
43852       3.42   94.64       5.46       1.19      0.91   2.83          0
43853       3.42   94.64       5.46       1.19      0.91   2.83          0

[43854 rows x 23 columns]

In [4]:
import pandas as pd

# Load CSV files
df1 = pd.read_csv('db_building_A.csv')
df2 = pd.read_csv('db_building_B.csv')

# Perform natural join on all common columns
common_columns = list(set(df1.columns) & set(df2.columns))
result = pd.merge(df1, df2, on=common_columns)

# Save or display the result
result.to_csv('joined1.csv', index=False)
print(result)

               DATE  ENERGY  HDD18_3   CDD0  CDD10  PRECTOT   RH2M    T2M  \
0     1/1/2016 0:00     NaN    11.32   6.98   0.00    10.70  90.97   6.02
1    3/26/2017 3:00     NaN    11.85   6.45   0.00     2.10  76.31   6.62
2    5/23/2020 0:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
3    5/23/2020 1:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
4    5/23/2020 2:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
5    5/23/2020 3:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
6    5/23/2020 4:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
7    5/23/2020 5:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
8    5/23/2020 6:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
9    5/23/2020 7:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
10   5/23/2020 8:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
11   5/23/2020 9:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
12  5/23/2020 10:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
13  5/23/2020 11:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
14  5/23/2020 12:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
15  5/23/2020 13:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
16  5/23/2020 14:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
17  5/23/2020 15:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
18  5/23/2020 16:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
19  5/23/2020 17:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
20  5/23/2020 18:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
21  5/23/2020 19:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
22  5/23/2020 20:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
23  5/23/2020 21:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07
24  5/23/2020 22:00     NaN     0.26  18.04   8.04     0.05  68.79  18.07

    T2M_MIN  T2M_MAX  ALLSKY  HOLIDAY
0      1.74    12.23    1.70        1
1      2.43    10.47    3.11        1
2     11.48    24.59    7.91        0
3     11.48    24.59    7.91        0
4     11.48    24.59    7.91        0
5     11.48    24.59    7.91        0
6     11.48    24.59    7.91        0
7     11.48    24.59    7.91        0
8     11.48    24.59    7.91        0
9     11.48    24.59    7.91        0
10    11.48    24.59    7.91        0
11    11.48    24.59    7.91        0
12    11.48    24.59    7.91        0
13    11.48    24.59    7.91        0
14    11.48    24.59    7.91        0
15    11.48    24.59    7.91        0
16    11.48    24.59    7.91        0
17    11.48    24.59    7.91        0
18    11.48    24.59    7.91        0
19    11.48    24.59    7.91        0
20    11.48    24.59    7.91        0
21    11.48    24.59    7.91        0
22    11.48    24.59    7.91        0
23    11.48    24.59    7.91        0
24    11.48    24.59    7.91        0